<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="services.html">Services</a>
      <a href="contact.html">Contact</a>
    </nav>
    <h1>About Us</h1>
    <p>This page gives information about our company.</p>

    <div>
      <p>
        ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del
        modelo?
      </p>
      Que nos ayuda con la escalabilidad, fácil el rastreo del código y mayor
      seguridad.
    </div>
    <div>
      <p>¿Qué es SQL injection y cómo se puede prevenir?</p>
      Es cuando desde el navegador quieren hacer consultas de sql para obtener,
      modificar o eliminar información, esto se puede prevenir haciendo
      consultas preparadas que lo que hacen es, que cuando nos ingrese una
      consulta sql lo convierta en string para que no se ejecute la sentencia
      sql.
    </div>
  </body>
</html>
